{% extends 'layout.html' %}

{% block head %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block nav %}
	<li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
	{# <li class="nav-item"><a class="nav-link" href="/rush">Rush</a></li> #}
	{# <li class="nav-item"><a class="nav-link" href="/brothers">Brothers</a></li> #}
	{# <li class="nav-item"><a class="nav-link" href="/summer-housing">Summer Housing</a></li> #}
{% endblock %}

{% block page_content %}
	<section id="page_content">
		<div class="banner">
			<img src="static/img/ks.jpg" class="img-fluid" alt="Responsive image">
		</div>
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-md-9 col-md-6">
					<div class="about">
					
						<h3>Kappa Sigma Gamma Pi Chapter</h3>
						<h5>MASSACHUSETTS INSTITUTE OF TECHNOLOGY</h5>
						<p>For more than a century, Kappa Sigma has shaped the lives of hundreds of MIT men by creating leaders on campus and in the world beyond.</p>

						<p>Located conveniently on West Campus between Baker and Burton Conner Houses, KΣ is right in the heart of the school. The house offers a welcoming and homely environment for brothers to work on assignments, eat delicious food, and have fun at MIT.</p>
						
						<p>Members of K&#931 are involved in all aspects of student life.  Whether as competitors on MIT's sports teams, members and leaders of student clubs, or friendly faces in class, K&#931 brothers continue to be positive influences on the MIT community.</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="video">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/_rp5A7OzFYg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</section>

{% endblock %}