{% extends 'base.html' %}

{% block content %}
    <section id="layout">
        <div class="container-fluid">
            <nav class="navbar">
                <!-- Crest/Icon logo -->
                <a href="/" class="navbar-brand mr-auto">
                    <div class="logo">
                        <img src="/static/img/crest.png" />
                        <p>Kappa Sigma</p>
                    </div>
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
                    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
                        class="fas fa-bars fa-1x"></i></span></button>
                
                <!-- Nav Options -->
                <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent1">
                    <ul class="navbar-nav">
                        {% block nav %}
                        {% endblock %}
                    </ul>
                </div>
            </nav>

            <!-- Div for messages as they appear -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div  class="alert alert-{{category}}" role="alert" style="width:100%;">
                            {{ message }}
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block page_content %}
            {% endblock %}
        </div>
    </section>

    <!-- Script to make it so you can delete the flash messages -->
    <script>
        $(document).on('click', '.close', function(){
            $(this).closest('div').remove();
        });
    </script>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm align-self-start left">
                    <p>407 Memorial Drive<br>Cambridge, MA 02139</p>
                </div>
                <div class="col-sm align-self-center center">
                    <img class="footer-image" src="/static/img/footer.png">
                </div>
                <div class="col-sm align-self-end right">
                    <p><a target="_none" rel="noopener" href="http://www.kappasigma.org">Kappa Sigma International</a><br>
                    <a target="_none" rel="noopener" href="http://studentlife.mit.edu/fsilg">MIT FSILG</a><br>
                    <a target="_none" rel="noopener" href="http://ifc.mit.edu/">MIT Interfraternity Council</a></p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}