{% extends 'layout.html' %}

{% block head %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='summer-housing.css') }}">
{% endblock %}

{% block title %}summer housing{% endblock %}

{% block nav %}
	<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
	<li class="nav-item"><a class="nav-link" href="/rush">Rush</a></li>
	<li class="nav-item"><a class="nav-link" href="/brothers">Brothers</a></li>
	<li class="nav-item"><a class="nav-link active" href="/summer-housing">Summer Housing</a></li>
{% endblock %}

{% block page_content %}
	
	<div class="placeholder">
		<h1>Summer Housing</h1>
	</div>

{% endblock %}