{% extends 'layout.html' %}


{% block page_content %}
    <!-- Include CSS TODO move to CSS file soon -->
    {{ css() }}

    <div>
        <div class="col-3 float-left pr-4">
            <nav class="menu" aria-label="Personal settings" data-pjax>
                <h3 class="menu-heading">Personal Settings</h3>
                <a class="js-selected-navigation-item selected menu-item" aria-current="page" data-selected-links="avatar_settings /settings/profile" href="/settings/profile">Profile</a>
            </nav>
        </div>
    </div>
{% endblock %}

{% macro css() %}
    <style>
        .menu {
            background-color: #fff;
            border: 1px solid #d1d5da;
            border-radius: 3px;
            list-style: none;
            margin-bottom: 15px;
        }
        .menu-heading {
            background-color: #f3f5f8;
            border-bottom: 1px solid #e1e4e8;
            color: #586069;
            display: block;
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            margin-bottom: 0;
            margin-top: 0;
            padding: 8px 10px;
        }
        .menu-item {
            border-bottom: 1px solid #e1e4e8;
            display: block;
            padding: 8px 10px;
            position: relative;
        }
        .menu-item.selected {
            background-color: #fff;
            color: #24292e;
            cursor: default;
            font-weight: 600;
        }
    </style>
{% endmacro %}